.main-page-component
	margin: 0 auto
	.main-page-question
		display: flex
		justify-content: center
		.materials-select
			width: 250px
			margin-left: 12px
			margin-right: 4px
	.main-area
		margin-top: 30px
		.main-row
			display: flex
			justify-content: space-around
		section
			margin: 30px

