.main-page-component
	display: flex
	justify-content: center
	.main-page-question
		display: flex
		.materials-select
			width: 250px
			margin-left: 12px
			margin-right: 4px
	section
		display: block
		margin: 20px
	li
		margin-left: 20px